<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <title>Checker Board</title>
</head>
<body>
    <div class="main">
        {%- for i in range(x) -%}
            <div class="row" style="height: {{95/y}}vh;">
                {%- for j in range(y) -%}
                    {%- if i % 2 == 0 -%}
                        {%- if j % 2 == 0 -%}
                            <div class="col" style="width: {{95/y}}vh; height: {{95/y}}vh; background-color: {{color1}};"></div>
                        {%- else -%}
                            <div class="col" style="width: {{95/y}}vh; height: {{95/y}}vh; background-color: {{color2}};"></div>
                        {%- endif -%}
                    {%- else -%}
                        {%- if j % 2 == 0 -%}
                            <div class="col" style="width: {{95/y}}vh; height: {{95/y}}vh; background-color: {{color2}};"></div>
                        {%- else -%}
                            <div class="col"style="width: {{95/y}}vh; height: {{95/y}}vh; background-color: {{color1}};"></div>
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>
</body>
</html>