<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Favorite Books</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Welcome {{ user.first_name }}</a>
            <div class="justify-content-end">
                <div class='row'>
                    <a href="/logout" class="navbar-item">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class='row'>
            <div class='col'>
                <h3>Add a Favorite Book</h3>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/books" method="POST">
                    {% csrf_token %}
                    <div class="container">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id='title' name='title' class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea class="form-control" name="desc" id="desc" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
            <div class='col'>
                <h3>All Books</h3>
                {% for book in books %}
                <div class="container mb-2">
                    <a href="/books/{{ book.id }}">{{ book.title }}</a>
                    <p class="mb-1">(added by {{ book.creator.first_name }} {{ book.creator.last_name}})</p>
                    {% if user in book.favorites.all %}
                    <p class="font-italic">this is one of your favorites</p>
                    {% else %}
                    <a href="/favorite/{{ book.id }}">Add to favorites</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>