<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .header {
            text-align: center;
        }
        .main div {
            display: inline-block;
            vertical-align: top;
            background-color: blue;
            margin: 1em;
            width: 200px;
            height: 200px;
            border: 3px solid black;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome</h1>
    </div>
    <div class="main">
        {% if play == true %}
            <div></div>
            <div></div>
            <div></div>
        {% endif %}
        {% if playx == true %}
            {% for i in range(x) %}
                <div></div>
            {% endfor %}
        {% endif %}
        {% if playCol == true %}
            {% for i in range(x) %}
                <div style="background-color: {{col}};"></div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>