<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flask fundementals</title>
</head>
<div class="createUser">
    <h1>Create an Account</h1>
    <form action="/createUser" method="POST">
        <p>username: <input type="text" name="username"></p>
        <p>password: <input type="password" name="password"></p>
        <input type="submit" value="Add Friend">
    </form>
</div>
<div class="login">
    <h1>Login</h1>
    <h1>Create an Account</h1>
    <form action="/login" method="POST">
        <p>username: <input type="text" name="username"></p>
        <p>password: <input type="password" name="password"></p>
        <input type="submit" value="Add Friend">
    </form>
</div>

</body>
</html>