<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <h1 style="color: orange;">Welcom to this form peasents</h1>
    <form action="result" method="post">
        <table>
            <tr>
            <td>
                <span>Name: <input type="text" name="name"> </span>
            </td>
            </tr>
            <tr>
                <td>
                    <span>Dojo Location: </span>
                    <select name="dojo">
                        <option value="San Jose">San Jose</option>
                        <option value="LA">Los Angeles</option>
                        <option value="Seatle">Seatle</option>
                        <option value="Maui">Maui</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Favorite Language: </span>
                    <select name="lang">
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                        <option value="JS">Java Script</option>
                        <option value="PHP">PHP</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="submit">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>