{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <p>please select a character</p>
    <form action="/character/select/" method='POST'>
    {% csrf_token %}
        <ul>
            {% for chacter in characters %}
                <li class='{{character.id}}/'>{{character.name}}"</li>
            {% endfor %}
            <li>name1</li>
            <li>name2</li>
            <li>name3</li>
            <li>name4</li>
            <li class="create">+ new</li>
        </ul>
        <input type="hidden" id='data' name="data" value="">
    </form>
</body>
</html>