<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class='create'>
        <form action="/authors" method="post">
            {% csrf_token %}
            <p>First Name: <input type="text" name='first_name'></p>
            <p>Last Name: <input type="text" name='last_name'></p>
            <p>Notes: <input class='desc' type="text" name='notes'></p>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class='show'>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                    <td>
                        <a href="/authors/{{author.id}}">view</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>